
<div class="parentPayment">

<div class="leftPaymentdiv">
  <div class="paymentContent">
  <div class="CheckoutBoostedLogo">
    <img class='boostedLogo' src="../../img/homePage/image.PNG" alt="">
    <p class='pageSelection'><a ui-sref="cart"><span class="blue">Cart</span></a> &gt; <a ui-sref="checkout"><span class="blue">Customer information</span></a> &gt; <a ui-sref="payment"><span>Payment method</span></a></p>
  </div>
  <p class="title">Payment method</p>
  <p class="subTitle">All transactions are secure and encrypted.</p>
  <div class="stripe payment">
    <div class="paymentInfoCheckOut">
      <div class="paymentContentCover">
        <p>Credit Card</p>
        <div class="cardPics">
          <img class='photoSizethree' src="../../img/community/threeCards.png" alt="">
          <img class='photoSize' src="../../img/community/oneCard.png" alt="">
        </div>
      </div>
      <form ng-submit='charge(payment)' class='col-xs-4'>
          <section class='form-group'>
            <div class="stripeInputCheckout">
              <input
              class='form-control textInputStyle'
              ng-model="payment.card.number"
              type="text"
              placeholder="card"
              required>
            </div>
          </section>
          <section class='form-group'>
            <div class="stripeInputCheckout">
              <input
              type="text"
              name="name"
              class='form-control textInputStyle'
              placeholder='name'
              required>
            </div>
          </section>
          <div class="">
          <div class="">

              <input
              class='form-control textInputStyle expInputStyle'
              ng-model="payment.card.exp_month"
              type="text"
              name="name"
              placeholder="MM">

              <input
              class='form-control textInputStyle expInputStyle centerBoxStyle'
              ng-model="payment.card.exp_year"
              type="text"
              name="name"
              placeholder="YY">

              <input
              class='form-control textInputStyle expInputStyle'
              ng-model="payment.card.cvc"
              placeholder='CCV'
              type="text"
              required>

          </div>
          </div>
          <div class="stripeButtonFooter">
          <div class="buttonSingleLine">
            <div>
              <a ui-sref="cart">
                <p class="WeirdBlue"> &lt; Return to cart</p>
              </a>
            </div>
            <div>
              <button class='btn btn-primary orangeButton extraButtonSpace' type='sumbit' ng-click='charge()'>Complete order</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="extraLinks">
      <p>Privacy policy</p>
      <p>Refund policy</p>
      <p>Terms of service</p>
  </div>
</div>
</div>
<div class="rightPaymentdiv">
  <checkout-cart total = 'total' paymentmethod = 'paymentStatus'></checkout-cart>
</div>
</div>
