<nav-bar></nav-bar>
<div class="darkBackground" ng-click='showvideo = !showvideo' ng-show='showvideo'>
</div>
<section>
    <div class="boardCover">
        <div class="coverContent">
            <p class="boardTitle">Love your ride</p>
            <p class="boardDesc">The Boosted board is designed from the ground up to drastically improve the urban transportation experience. Now with extended range.</p>
            <div class="boardButtonContainer">
                <button type="button" ui-sref='reserve' class="orangeButton">RESERVE NOW</button>
                <button type="button" ng-click='showvideo = !showvideo' class="whiteButton whiteButtonColor videoButton"><i class="fa fa-youtube-play" aria-hidden="true">
       </i> WATCH VIDEO</button>
                <div class="videoPopup" ng-if='showvideo'>
                    <iframe allowfullscreen='true;' frameborder=0 src="https://www.youtube.com/embed/VmJ-CiHRpOo?autoplay=1">
        </iframe>
                </div>

            </div>
        </div>
    </div>
</section>
<section>
    <div class="splitInfo">
        <div class="leftBoardPic">
            <img class='photo photoHeightBoard' src="../../img/theBoard/boardLeaning.JPG" alt="">
        </div>
        <div class="rightBoardInfo">
            <div class="needsSpacing">
                <p class="boardTitle black">Go farther</p>
                <p class="blackweightnorm">Boosted offers two battery options so you can decide which is right for you. With 6-7 miles of range, the standard battery is great for short city commutes and fully certified for airline travel. The extended battery, providing 12-14 miles
                    of range, is perfect for longer commutes and epic rides. Batteries are user replaceable, allowing you to swap packs in minutes.
                </p>
                <div class='inline'>
                    <div class="boardspecs">
                        <img class='photo' src="../../img/theBoard/batteryIcon.PNG" alt="">
                    </div>2 BATTERY OPTIONS</div>
                <div class='inline'>
                    <div class="boardspecs">
                        <img class='photo' src="../../img/theBoard/recycleIcon.PNG" alt="">
                    </div>EASILY REPLACEABLE</div>

                <div class="milageChart">
                    <img class='photo' src="../../img/theBoard/chart.PNG" alt="">
                    <div class="orangeLine">
                        <div class="mileageText">
                            Extended Range Battery
                        </div>
                    </div>

                    <div class="blueLine">
                        <div class="mileageText">
                            Standard Range Battery
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="uphillBoard">
        <div class="breeze">
          <div class="breezeContent">
            <p class='breezeTitle'>Make Your uphill</p>
            <p class='breezeTitle'>battle a breeze</p>
            <p class='breezeDesc'>Never shy away from a daunting hill again! Race up steep inclines with smooth, responsive acceleration. With Boosted Dual+, you have access up to 4 times the power that elite Tour de France riders generate when climbing a mountain–that’s a
                lot. Plus, Boosted’s powerful regenerative braking system allows you to come to a stop confidently , even while turning or going down a hill.</p>
            <div class="inlineContainer">
                <div class='inline'>
                    <div class="boardspecs">
                        <img class='photo' src="../../img/theBoard/uphillIcon.PNG" alt="">
                    </div>25% GRADE HILL CLIMB</div>
                <div class='inline'>
                    <div class="boardspecs">
                        <img class='photo' src="../../img/theBoard/speedIcon.PNG" alt="">
                    </div>22 MPH TOP SPEED</div>
                <div class='inline'>
                    <div class="boardspecs">
                        <img class='photo' src="../../img/theBoard/chargeIcon.PNG" alt="">
                    </div>REGENERATIVE BRAKING</div>
            </div>
          </div>
        </div>
        <div class="breezeBelt">
          <p class="beltTitle">WHY A BELT DRIVE SYSTEM?</p>
          <p class="beltDesc">Our belt­ drive system magnifies the
            torque* of the motor by 3x, giving you
             stronger brakes, faster acceleration,
              and steeper hill climbing than hub
              motors. Belts are also quiet and
              more precise, giving you a better
               ride with more control. *Fancy physics
               term for how much force is needed to
               cause an object to rotate.</p>
    </div>
        <img class='motorPhoto' src="../../img/theBoard/boardMotor.JPG" alt="">
    </div>
</section>
<section>
  <div class="remoteCover">
    <div class="remoteContent">
      <p class='beltTitle titleSize'>For beginners to pros</p>
      <p class="bottomSpacing">No riding experience? No problem.
        Multiple ride modes make it easier
        than ever to jump on a board regardless
        of your skill level. Start in beginner
        mode, which goes up to 11mph, and work your
        way up to pro, which tops out at 22mph.
        Pro tip: Switch between different modes based
         on riding terrain to maximize range and take
         full advantage of your board.</p>
         <div class='inline'>
             <div class="boardspecs">
                 <img class='photo' src="../../img/theBoard/squaresIcon.PNG" alt="">
             </div>4 RIDE MODES</div>
         <div class='inline'>
             <div class="boardspecs">
                 <img class='photo' src="../../img/theBoard/cautionIcon.PNG" alt="">
             </div>FAST, RESPONSIVE BRAKING</div>
         <div class='inline'>
             <div class="boardspecs">
                 <img class='photo' src="../../img/theBoard/bluetoothIcon.PNG" alt="">
             </div>POWERFUL BLUETOOTH CONNECTION</div>
     </div>
    </div>
    <div class="remoteSmallContent">
      <p class='beltTitle titleSize'>For beginners to pros</p>
      <p class="bottomSpacing">No riding experience? No problem.
        Multiple ride modes make it easier
        than ever to jump on a board regardless
        of your skill level. Start in beginner
        mode, which goes up to 11mph, and work your
        way up to pro, which tops out at 22mph.
        Pro tip: Switch between different modes based
         on riding terrain to maximize range and take
         full advantage of your board.</p>
         <div class='inline'>
             <div class="boardspecs">
                 <img class='photo' src="../../img/theBoard/squaresIcon.PNG" alt="">
             </div>4 RIDE MODES</div>
         <div class='inline'>
             <div class="boardspecs">
                 <img class='photo' src="../../img/theBoard/cautionIcon.PNG" alt="">
             </div>FAST, RESPONSIVE BRAKING</div>
         <div class='inline'>
             <div class="boardspecs">
                 <img class='photo' src="../../img/theBoard/bluetoothIcon.PNG" alt="">
             </div>POWERFUL BLUETOOTH CONNECTION</div>
     </div>
</section>
<div class="boardCarousel">
<board-caro></board-caro>
<div class='slider-nav'>
      <div class='carouselphotos'>
        <img class='photo' src="../../img/theBoard/boardSide.JPG" alt="">
      </div>
      <div class='carouselphotos'>
        <img class='photo' src="../../img/theBoard/boardSideHalf.JPG" alt="">
      </div>
      <div class='carouselphotos'>
        <img class='photo' src="../../img/theBoard/boardFAngle.JPG" alt="">
      </div>
    </div>
<div class="slider-for">
  <div class="block-text">
      <div class="carousel-text slider-for">
        <div>
          <span class="slickTitle">
          Bamboo Deck by Loaded
        </span>
          <p class="slickHeadline">
            We collaborated with Loaded to create a
            custom-designed Vanguard deck. The bamboo
            provides natural suspension and damping over
            bumps, while still delivering enough energy
            for a snappy, responsive ride. The flex and
            feel of this board cannot be replicated by decks
            made from a bamboo veneer slapped over a maple
            core. Try it-you'll feel the difference.
          </p>
          <img class='slickPhoto'src="../../img/theBoard/loadedLogo.PNG" alt="">
        </div>
        <div>
          <span class="slickTitle">
          80mm Orangatang Kegel Wheels
        </span>
          <p class="slickHeadline">
            The Orangatang wheels have a carefully designed
            hourglass shape and urethane formula that flexes
            over bumps and grips through turns. By coupling
            the drivetrain to the wheel's existing core, we
            maintain the wheel's amazing ride quality and handling
            better than any other hub motor design.
          </p>
          <img class='slickPhoto' src="../../img/theBoard/arangatangLogo.PNG" alt="">
        </div>
        <div>
          <span class="slickTitle">
          Custom Boosted Trucks
        </span>
          <p class="slickHeadline">
            We're proud to introduce our first-ever truck design.
            They're perfect for carving, optimized for the torque
            and power of our electric drivetrain, and built to
            withstand thousands of miles of city streets.
          </p>
        </div>
      </div>
    </div>
</div>
</div>
<section>
  <div class="worryLessContainer">
    <div class="breeze">
      <div class="breezetwoContent">
        <p class='breezeTitle'>Worry less,</p>
        <p class='breezeTitle'>Ride more</p>
        <p class='breezeDesc'>Your board will last for years and
           thousands of miles. Whether you’re riding over uneven
           city streets, through unexpected potholes, or off the
           occasional curb, the Boosted board is designed to take
           it all. Our modular design makes repairs quick and easy,
           minimizing downtime and getting you back on your board</p>
        <div class="inlineContainer">
            <div class='inline'>
                <div class="boardspecs">
                    <img class='photo' src="../../img/theBoard/toolsIcon.PNG" alt="">
                </div>USER-REPLACEABLE PARTS</div>
            <div class='inline'>
                <div class="boardspecs">
                    <img class='photo' src="../../img/theBoard/headsetIcon.PNG" alt="">
                </div>RESPONSIVE SUPPORT TEAM</div>
            <div class='inline'>
                <div class="boardspecs">
                    <img class='photo' src="../../img/theBoard/gearIcon.PNG" alt="">
                </div>6-MONTH WARRANTY</div>
        </div>
      </div>
    </div>
  </div>
</section>
<div ui-sref='reserve' class="reserveFooter">
    RESERVE NOW
</div>
<help></help>
<guarantee></guarantee>
<footer-view></footer-view>
