<nav-bar></nav-bar>
<div class="cartContainer">
<h1 class="shoppingTitle">Shopping Cart</h1>
<div class="emptyCart" ng-show='emptyCart'>
<p>You cart is currently empty.</p>
<p>Continue Browsing <a ui-sref='store'>here</a></p>
</div>
<div class="cartWithItems" ng-show='fullCart'>
  <hr>
  <div class="cartTitles">
    <p class="itemname">Product</p>
    <p>Price</p>
    <p>Quantity</p>
    <p>Total</p>
  </div>
  <hr>
  <div class="itemsCart">
  <div class="" ng-repeat='item in items'>
    <div class="itemsinCart">
      <div class="iteminCart">
        <div class="itemname">
          <p>{{item.itemname}}</p>
          <p ng-click='removeItem(item.itemid)' class='removeLink'>remove</p>
        </div>
        <p class= 'itemcartPrice' ng-model='price'>{{item.price | currency}}</p>
        <p><input ng-model='qty' type="number" ng-change='updateItem(item.itemid, qty)' value="{{item.qty}}"></p>
        <p class= 'itemcartPrice'>{{item.price * item.qty | currency}}</p>
      </div>
    </div>
  </div>
  </div>
  <div class="cartTotals">
    <p>Subtotal <span class= 'itemcartPrice'>{{totalPrice | currency}}</span></p>
    <p>payments <span class= 'itemcartPrice'>-{{paymentAmount | currency}}</span></p>
    <p>Total <span class= 'itemcartPrice'>{{totalPrice - paymentAmount | currency}}</span></p>
    <p>Shipping &amp; taxes calculated at checkout</p>
    <!-- <button type="button" ng-click='reloadRoute()' class='whiteButton' name="button">UPDATE CART</button> -->
    <button type="button" ui-sref='checkout' class='orangeButton' id='noButtonMargin' name="button">CHECK OUT</button>
  </div>
</div>
</div>
<footer-view></footer-view>
