<div class="cartContainer">
<h1>Shopping Cart</h1>
<div class="emptyCart" ng-show='emptyCart'>
<p>You cart is currently empty.</p>
<p>Continue Browsing <a ui-sref='store'>here</a></p>
</div>
<div class="cartWithItems" ng-show='fullCart'>
  <hr>
  <div class="cartTitles">
    <p>Product</p>
    <p>Price</p>
    <p>Quantity</p>
    <p>Total</p>
  </div>
  <hr>
  <div class="itemsCart">
  <div class="" ng-repeat='item in items'>
    <div class="itemsinCart">
      <div class="iteminCart">
        <div class="itemname">
          <p>{{item.itemname}}</p>
          <p ng-click='removeItem(item.itemid)'>remove</p>
        </div>
        <p ng-model='price'>{{item.price}}</p>
        <p><input ng-model='qty' type="number" ng-change='updateItem(item.itemid, qty)' value="{{item.qty}}"></p>
        <p>{{item.price * item.qty | currency}}</p>
      </div>
    </div>
  </div>
  </div>
  <div class="">
    <p>Subtotal {{totalPrice | currency}}</p>
    <p>payments -{{paymentAmount | currency}}</p>
    <p>Total {{totalPrice - paymentAmount | currency}}</p>
    <p>Shipping &amp; taxes calculated at checkout</p>
    <button type="button" ng-click='reloadRoute()' name="button">UPDATE CART</button>
    <button type="button" ui-sref='checkout' name="button">CHECK OUT</button>
  </div>
</div>
</div>
