.cartContainer {
  width: 80%;
  margin: auto;
}
.cartTitles {
  display: flex;
}
.itemsinCart {
  display: flex;
}
.emptyCart {

}
.cartWithItems {

}
.iteminCart {
  border-bottom: solid #888888 1px;
  display: flex;
  width: 100%;
}
