<div class="cartContainer">
<h1>Shopping Cart</h1>
<div class="emptyCart">
<p>You cart is currently empty.</p>
<p>Continue Browsing <a ui-sref='store'>here</a></p>
</div>
<div class="cartWithItems">
  <hr>
  <div class="cartTitles">
    <p>Product</p>
    <p>Price</p>
    <p>Quantity</p>
    <p>Total</p>
  </div>
  <hr>
  <div class="itemsinCart">
  <div class="" ng-repeat='item in items'>
    <div class="itemsinCart">
      <div class="itemname">
        <p>{{item.itemname}}</p>
        <p ng-click='removeItem(item.itemid)'>remove</p>
      </div>
      <p>{{item.price}}</p>
      <p><input type="number" name="" value="{{item.qty}}"></p>
      <p>{{item.price}}</p>
    </div>
  </div>
  </div>
  <hr>
  <div class="">
    <p>Subtotal {{totalPrice}}</p>
    <p>Shipping &amp; taxes calculated at checkout</p>
    <button type="button" ng-click='reloadRoute()' name="button">UPDATE CART</button>
    <button type="button" ui-sref='checkout' name="button">CHECK OUT</button>
  </div>
</div>
</div>
