<nav-bar></nav-bar>
<div class="paymentTopHalf">
<div class="userInfo">
<img class="profilePic"src="{{user.profilepic}}" alt=""></br>
<p class="paymentName">{{user.firstname}} {{user.lastname}}</p>

<div class="codePen" ng-init='boardValue=1499'>

  <ul>
  <li>
    <input type="radio" id="f-option" ng-change='correctBar()' name="selector" ng-model="boardValue" value="1499">
    <label for="f-option">Dual+</label>

    <div class="check"></div>
  </li>

  <li>
    <input type="radio" id="s-option" ng-change='correctBar()' name="selector" ng-model="boardValue" value="1599">
    <label for="s-option">Dual+ Extended</label>

    <div class="check"><div class="inside"></div></div>
  </li>

  <li>
    <input type="radio" id="t-option" ng-change='correctBar()' name="selector" ng-model="boardValue" value="1299">
    <label for="t-option">Dual</label>

    <div class="check"><div class="inside"></div></div>
  </li>
  <li>
    <input type="radio" id="r-option" ng-change='correctBar()' name="selector" ng-model="boardValue" value="1399">
    <label for="r-option">Dual Extended</label>

    <div class="check"><div class="inside"></div></div>
  </li>
</ul>
</div>
    <button type="button" class='orangeButton removeMargin' ng-click='addBoard()' name="button">Checkout</button>
    <button type="button" class='whiteButton removeMargin' name="button" ng-click='logout()'>Log Out</button>
    <br/>

</div>
<div class="paymentInfo">
  <form ng-submit='charge(payment)' class='col-xs-4'>
      <div class="stripeCover">
        <h2 class="stripeTitle">Make a payment</h2>
      </div>
      <section class='form-group'>
        <div class="stripeInput">
          <label>Amount:</label>
          <input
          class='form-control textboxStyle '
          type="text"
          name=""
          ng-model='mockPrice'
          placeholder="  amount"
          required>
        </div>
      </section>
      <section class='form-group'>
        <div class="stripeInput">
          <label>Name:</label>
          <input
          autocomplete="off"
          type="text"
          name=""
          ng-model='name'
          class='form-control textboxStyle '
          placeholder='  name'
          required>
        </div>
      </section>
      <section class='form-group'>
        <div class="stripeInput">
          <label>CC:</label>
          <input
          class='form-control textboxStyle '
          ng-model="payment.card.number"
          type="text"
          placeholder="  card"
          required>
        </div>
      </section>
      <div class="sameLine">

      <label>Expiration:</label>
      <div class="singleLine">

          <input
          class='form-control textboxStyle expBoxStyle'
          ng-model="payment.card.exp_month"
          type="text"
          name="name"
          placeholder="  MM">

          <input
          class='form-control textboxStyle expBoxStyle centerBoxStyle'
          ng-model="payment.card.exp_year"
          type="text"
          name="name"
          placeholder="  YY">

          <input
          class='form-control textboxStyle expBoxStyle'
          ng-model="payment.card.cvc"
          placeholder='  CCV'
          type="text"
          required>

      </div>
      </div>
      <div class="stripeButtonFooter">
        <button class='btn btn-primary btnGreenColor whiteButton' type='sumbit'>Confirm</button>
      </div>

  </form>

</div>

</div>
<div class="progressInfo">
  <div class="paymentGoal">
    <strong>Goal:</strong> <span class="textColor">{{boardValue | currency}}</span><br />
  </div>
  <div class="paymentPaid">
    <strong>Amount Paid:</strong> <span class="textColor">{{totalPayments | currency}}</span>
  </div>
  <div class="progressBar">
    <div ng-style='progress'>

    </div>
  </div>
</div>
<footer-view></footer-view>
